@import url("./styles/header.css");
@import url("./styles/card.css");
@import url("./styles/talentos.css");

* {
    box-sizing: border-box;
}

:root {
    --fonte-principal: "Inter", sans-serif;  
    --cor-principal-texto: #667085;
    --branco: #FFFFFF;
    --cor-destaque: #8E2424;
    --preto: #101828;
    --cor-empresa: #3A404E;


}

body {
    font-family: var(--fonte-principal);
    background-color: var(--branco);
    width: 100%;
    height: 100vh;
}