.cabecalho {
    display: flex;
    justify-content: space-around;
    background-color: var(--branco);
    padding: 1.5em 0em 1em 0em;
    font-weight: 500;
    font-size: 1rem;
}

.cabecalho__empresa {
    display: flex;
    align-items: center;
    color: var(--cor-empresa);
    gap: 10px;

}

.cabecalho__titulo {
    font-size: 1.12rem;
}


.cabecalho__lista {
    display: flex;
} 

.cabecalho__lista__menu, 
.cabecalho__lista__cadastro {
    display: flex;
    align-items: center;
     gap: 20px;
}

.cabecalho__lista__menu {
    padding-right: 16em;
}

.cabecalho__lista-link {
    text-decoration: none;
    color: var(--cor-principal-texto);
}

.cabecalho__lista-link-cadastrar {
    color: var(--branco);
}

.cabecalho__lista-cadastrar {
    border: 1px solid var(--cor-destaque);
    background-color: var(--cor-destaque);
    border-radius: 5px; 
    padding: 0.5em;
}

.cabecalho__botao {
    display: none;
}


@media (max-width: 1024px){

    .cabecalho {
        justify-content: space-between;
        padding: 0 1em;
        position: relative;
        margin-top: 1em;
    }

    .cabecalho__empresa {
        margin-left: 2em;
    }

    .cabecalho__menu {
        margin-right: 5em;
    }

    .cabecalho__imagem{
        margin-right: 1em;
    }

    .cabecalho__lista__cadastro {
        margin-right: 3em;
    }

    .cabecalho__lista__menu {
        padding-right: 5em;
    }

    
    .cabecalho__lista-entrar {
        color: var(--cor-principal-texto); 
    }

    .cabecalho__lista-item {
        padding: 0.3em 0;
    }

}

@media (max-width: 928px) {
    .cabecalho__lista__menu {
        display: none;
        position: absolute;
        top: 55px;
        left: 0%;
        width: 100%;
        background-color: var(--cor-destaque);
        padding: 1em;
    }

    .cabecalho__botao:checked ~ .cabecalho__lista__menu {
        display: block;
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .cabecalho__menu-hamburger {
        width: 24px;
        height: 24px;
        background-image: url("../assets/Menu.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--cor-destaque);
        display: inline-block;
        padding: 1.5em;  
        margin-right: 15em;
        margin-left: 2em;
    } 

    .cabecalho__lista-link {
        color: var(--branco);
        font-weight: 400;
    } 

    .cabecalho__lista-entrar{
        color: var(--cor-principal-texto);
    }
    
}

@media (max-width: 830px){
    .cabecalho__menu-hamburger {
        margin-right: 12em;
    }
}

@media (max-width: 769px){
    .cabecalho__menu-hamburger {
        margin-right: 5em;
        margin-left: 1em;
    }
}
   
@media (max-width: 655px){
    .cabecalho__menu-hamburger {
        margin-right: 1em;
        margin-left: 0.5em;
    }

    .cabecalho__lista__menu{
        padding: 1em;
        top: 62px;
    }

}

@media (max-width: 573px){
    .cabecalho__menu-hamburger {
        margin-right: 5em;
        margin-left: 0.3em;
    }

    .cabecalho__titulo{
        display: none;
    }
}

@media (max-width: 513px){
    .cabecalho__menu-hamburger {
        margin-right: 1em;
        margin-left: 0.1em;
    } 
}

@media (max-width: 445px){
    .cabecalho__menu-hamburger {
        margin: 0;
    }

    .cabecalho__lista__cadastro {
        margin: 0;
    }

    .cabecalho__lista__menu {
        font-size: 0.8rem;
    }
}