.vagas__titulo {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--preto);
    margin: 4em 14.5em 2em 14.5em;
}

.vagas__emprego {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--cor-borda);
    border-radius: 10px;
    padding: 2em;
    margin: 1em 18em;
    gap: 30px;
}

.vagas__emprego-um {
    font-size: 1.12rem;
    font-weight: 500;
    color: var(--preto);
}

.vagas__emprego-lista {
    display: flex;
    gap: 20px;
    font-weight: 500; 
    font-size: 1rem;
    color: var(--cor-principal-texto);
}